.header__text{
  font-size: x-large;
  color: white;
}

.items-container{
  width: 100%;
  height: auto;
  padding: 5px;
}
.items{
  display: grid;
  gap: 5px;
  justify-items: center;
  align-items: end;
  grid-auto-rows: auto;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  margin: 5px;
}
.items__element{
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  height: 500px;
  align-items: center;
  justify-content: space-around;
  border: 1px solid;
}
.items__element:hover{
  background-color: rgb(210, 207, 207);
  border-radius: 20px;
}
.items__title{
  text-align: center;
  height: 10%;
  padding: 10px;
}
.items__content{
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 400px;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.items__pictures__container{
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  height: 100%;
}
.items__picture{
  max-width: 80%;
  border-radius: 10px;
  cursor: pointer;
  transition: .2s linear;
  overflow: hidden;
  object-fit: cover;
}
.items__picture:hover{
  transform: scale(1.1);
}
.items__icons{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  top: 10px;
  text-align: center;
}
.items__icons:hover{
  background-color: rgb(210, 207, 207);
}
.items-likes{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.items-likes__cont{
  font-size: 12px;
  color: red;
}
.bxl-whatsapp{
  color: rgb(4, 172, 4);
  font-size: xx-large;
  margin-right: 30px;
}
.bx-heart{
  color: red;
  margin-bottom: 0px;
  margin-right: 4px;
  font-size: xx-large;
}
.bx-heart:hover{
  color: blueviolet;
}

.modal{
  position: fixed;
  display: none;
  top: 0; left: 0;
  background: rgba(0,0,0,.9);
  height: 100%;
  width: 100%;
  z-index: 100;
  overflow: auto;
}
.close{
  position: absolute;
  top: 0; right: 10px;
  font-size: 40px;
  font-weight: bolder;
  color: #fff;
  cursor: pointer;
  z-index: 100;
}
.modal__content{
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid #fff;
  border-radius: 5px;
  width: 750px;
  object-fit: cover;
}

@media (max-width:768px){
  .modal__content{
    width: 95%;
  }
}



@media screen and (max-width: 625px) {
  .items__element{
    height: 600px;
    width: 90vw;
  }
}
@media screen and (max-width: 490px) {
  .items__element{
    height: 480px;
    width: 90vw;
  }
}
@media screen and (max-width: 390px) {
  .items__element{
    height: 450px;
    width: 90vw;
  }
}
